# Recording data files
data/recordings/*.svo2
data/recordings/*.avi
data/recordings/*.csv
data/recordings/*.tak


# Python cache
__pycache__/

# Mac files
.DS_Store

# Env Venv
venv/
.env

# Training data files
out/train/
out/test/

# Training outputs
wandb/


runs_multi_cv_dual

runs_mocap_multi_cv_dual

runs_aggregated_pitch_volume_cv

free_chunk_predictions_aggregated

visualize

data/features/mocap/free_pitch.csv
