# Recording data files
data/recordings/*.svo2
data/recordings/*.avi
data/recordings/*.csv
data/recordings/*.tak


# Python cache
__pycache__/

# Mac files
.DS_Store

# Env Venv
venv/
.env

# Training data files
out/train/
out/test/

# Training outputs
wandb/